@font-face {
    font-family: "raleway";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/raleway/raleway-800.woff2");
    font-display: swap;
}

@font-face {
    font-family: "rubik";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/rubik/rubik-regular.woff2");
    font-display: swap;
}

@font-face {
    font-family: "rubik";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/rubik/rubik-bold.woff2"); 
    font-display: swap;
}

*, *::after, *::before {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: "raleway", Arial, sans-serif;
    font-size: 18px;
    line-height: 30px;
    background-color: #FFFFFF;
    color: #444444;
    margin: 0;
    padding: 0;
}

.page-header {
    padding: 40px 0 0;
}

.header-container {
    background-color: #FFE17F;
    color: #000000;
    width: 1160px;
    margin: 0 auto;
    position: relative;
    padding: 43px 60px 136px;
}

.header-logo {
    display: block;
    position: absolute;
    top: -20px;
}

.navigation-wrapper {
    display: flex;
    align-items: center;
}

.search-form {
    display: flex;
    width: 517px;
    height: 40px;
    font-size: 16px;
    line-height: 20px;
}

.search-field {
    border: 2px solid black;
    border-radius: 50px 0 0 50px;
    padding: 10px 0 10px 48px;
    width: 359px;
    background-color: transparent;
}

.search-button {
    border: 2px solid black;
    border-radius: 0 50px 50px 0;
    border-left: none;
    padding: 10px 56px;
    width: 160px;
    background-color: transparent;
}

.navigation-list {
    display: flex;
    list-style: none;
}

.navigation-link {
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    color: #000000;
}

.basket-count {
    width: 21px;
    height: 21px;
    background-color: #FFFFFF;
    color: #000000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    position: absolute;
}

.navigation-basket-link:hover + .basket-list-wrapper {
    display: flex;
}

.basket-list-wrapper {
    display: none;
}

.navigation-user-wrapper {
    display: flex;
    align-items: center;
    position: relative;
}

.header-catalog {
    position: relative;
}

.header-catalog-link {
    font-size: 18px;
    line-height: 21px;
    font-weight: 800;
    color: #000000;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
}

.header-catalog-link:hover .header-catalog-link-icon {
    opacity: 1;
}

.header-catalog-link:hover .header-catalog-link-icon::before {
        display: none;
}

.header-catalog-link-icon {
    position: absolute;
    right: -67px;
    top: 50%;
    transform: translateY(-50%);
    height: 50px;
    width: 50px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 50%;
}

.header-catalog-link-icon::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 16px;
    background-color: rgba(0, 0, 0, 0.3);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header-catalog-link-icon::after {
    content: "";
    position: absolute;
    width: 14px;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.3);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header-catalog-list-container {
    display: none;
}

.header-catalog-link:hover + .header-catalog-list {
    display: flex;
}

.header-catalog-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
}

.header-sub-list {
    list-style: none;
}

.header-catalog-sub-link {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    line-height: 21px;
}

.navigation-user {
    display: flex;
    list-style: none;
    padding: 0;
    margin-left: 333px;

}

.navigation-user-link {
    font-family: "Raleway";
    font-weight: 800;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 21px;
    color: #444444;
    letter-spacing: 0.2em;
}

.page-container {
    width: 1160px;
    margin: 0 auto;
}

.visually-hidden {
    display: none;
}

.slider-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.slider-list-item {
    display: flex;
}

.slider-number {
    font-family: Arial, sans-serif;
    font-weight: 700;
    font-size: 180px;
    line-height: 30px;
}

.slider-title {
    font-size: 50px;
    line-height: 50px;
    color: #000000;
}

.description {
    font-family: "Arial", sans-serif;
    margin: 0;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
}

.slider-description {
    margin-bottom: 61px;
}

.slider-characteristics {
    display: flex;
    font-family: Arial, sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 30px;
    color: #000000;
    margin-top: 59px;
}

.slider-characteristics-title {
    padding-right: 58px;
}

.slider-characteristics-description {
    font-size: 16px;
    color: #444444;
    margin-top: 12px;
    margin-bottom: 59px;
    margin-right: 20px;
}

.button {
    font-family: "Raleway";
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;
    color: black;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.catalog-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 33px 40px;
    list-style: none;
    margin: 70px 0;
    padding: 0;
}

.catalog-shape {
    background-color: #FFE17F;
    width: 160px;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.monopodes {
    align-items: flex-end;
}

.catalog-item-link {
    display: flex;
    flex-direction: column;
}

.catalog-item-title {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #000000;
}

.title {
    font-family: 'Raleway';
    font-size: 50px;
    line-height: 50px;
    color: #000000;
    margin: 0;
}

.rare-goods {
    display: flex;
    margin: 225px 0 157px 0;
    justify-content: space-between;
}

.rare-goods-shape {
    display: flex;
    background-color: #FFE17F;
    width: 125px;
    height: 100px;
    align-items: center;
    justify-content: center;
}

.contacts-section {
    display: flex;
}

.about-us {
    margin-right: 131px;
}

.contacts-title {
    position: relative;
    margin-bottom: 48px;
}

.contacts-title::before {
    content: "";
    height: 7px;
    width: 84px;
    background-color: #000000;
    position: absolute;
    top: -40px;
    left: 0;
}

.contacts-description {
    margin-bottom: 30px;
}

.deliveries-list {
    display: flex;
    flex-direction: column;
    margin: 0 0 30px 0;
    padding: 0;
}

.contacts-adress-title {
    font-family: Arial, sans-serif;
    font-size: 24px;
    margin: 0 0 15px 0;
}

.contacts-number {
    margin-bottom: 30px;
}

.contacts-hours {
    margin-bottom: 40px;
}

.subscription {
    margin-top: 80px;
}

.subscription-description-wrapper {
    display: flex;
    margin: 0 0 162px 0;
    align-items: center;
}

.subscription-form-wrapper {
    display: flex;
    align-items: center;
}

.footer-container {
    width: 1160px;
    margin: 0 auto;
    background-color: #444444;
    color: white;
}

.footer-logo-img {
    margin-top: 72px;
}

.footer-nav-wrapper {
    display: flex;
    margin: 35px 0 65px 0;
    justify-content: space-between;
}

.footer-social-wrapper {
    display: flex;
    justify-content: space-between;
}

.footer-nav {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.footer-social-list {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}
